#menu {
    display:block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration:none;
    padding: .5rem .75rem;
    background-color: #eee;
    border: 2px solid black;
    border-radius: 1cap;
}
#menu::before {
    content: "≡";
}
.bannerTop {
    display:flex;
    align-items:center;
    background-color:#f4ebbe;
}
.navigation {
    list-style: none;
}
.navigation li {
    display: none;
}
.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
	transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}
.navigation a:hover, .navigation a:active{
	color: white;
	background-color: black;
}
.open li {
	display: block;
}

#menu.open::before {
	content: "X";
}
header {
    display:flex;
    align-items: center;
}
.logo {
    width: 80px;
    height: auto;
    padding: 10px;
    border-radius: 20px;
}
ul {
    padding:0px;
}
nav a {
    color: black;
}
a:active {
    color: white;
    background-color: #75704e;
}
a:hover {
    color: #75704e;
    background-color: #f4ebbe;
}
header .fa {
    padding: 10px;
    font-size: 20px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
    border-radius: 50%;
    border: 0px solid black;
  }
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: black;
}
button {
    cursor: pointer;
}
#dark-mode-button {
    position: absolute;
    top: 3px;
    right: 15px;
    font-size: 25px;
    border: 2px solid black;
    border-radius: 50%;
}
.dark-mode {
    background-color: black;
    color: white;
}
.gray-dark-mode {
    background-color: gray;
    color: white;
}
.dark-mode-cards{
    color: black;
}



.hero_card {
    background-color: #a7cecb;
    display: block;
    position: sticky;
    justify-content: center;
    align-items: center;
}
.hero_card img {
    height: 70%;
    width: 70%;
    display: block;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.chamber_button {
    top: 10%;
    left: 35%;
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 10px 25px;
    border-radius: 8px;
    text-align: center;
    background-color: #75704e;
    color: #f4ebbe;
}
.chamber_button:hover {
    background-color: #75704e;
}
.chamber {
    margin:8px;
}



h1 {
    position: relative;
    padding-right: 10%;
}
h2{
    text-decoration: underline;
    text-underline-position: under;
}
h3 {
    text-decoration: underline;
    text-underline-position: under;
}



.event, .weather, .spot_card {
    margin: 5%;
    padding-top: 1%;
    padding-left: 1%;
    border: 2px solid grey;
}
.cards {
    display: flex;
}



.event {
    background-color: #8ba6a9;
    width: 60%;
    padding-bottom: 10px;
}
.event a {
    background-color: #75704e;
    width: auto;
    padding: 5px;
    border-radius: 3px;
    margin-left: 40%;
    margin-right: 30%;
}



.weather {
    background-color: #8ba6a9;
    width: 30%;
}
.w_icon {
    position: relative;
    left: 20%;
}
.w_stats, .w_content {
    box-sizing: border-box;
    display: flex;
    padding-left: 20%;
}
.line {
    color: #3b589800;
}



.weather-card {
    border: 1px solid #ccc;
    padding: 20px;
    width: 150px;
    background-color: #a7cecb;
    position: absolute;
    z-index: 1;
}
.banner {
    position: relative;
    top: 0;
    left: 0;
    width: 99%;
    color: white;
    background-color: #75704e;
    padding: 10px;
    text-align: center;
    display: none;
}
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}



.spotlights_row {
    display: flex;
    justify-content: space-between;
}
.spot_card {
    background-color: #8ba6a9;
    padding-bottom: 3%;
    padding-right: 1%;
    width: 100%;
}
.quote {
    text-align: right;
}
.card_text {
    text-align: center;
}
.card_text a {
    background-color: #75704e;
    padding: 5px;
    border-radius: 3px;
}



fieldset {
    margin-top: 30px;
    background-color: #a7cecb;
    width: 210px;
    height: 460px;
}
label, input {
    display: block;
}
.cursor {
    cursor: pointer;
}
#memberCards {
    display: flex;
    margin-right: 20%;
}
.member {
    display: flex;
    padding: 0.50rem;
}
.benefits {
    margin-top: 30px;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 10px;
    width: 300px;
    background-color: #8ba6a9;
}

#submitBtn {
    background-color: #f4ebbe;
    padding: 20px;
    font-size: 20px;
    margin-top: 50px;
    border-radius: 5px;
    cursor: pointer;
}
#submitBtn, fieldset {
    margin-left: auto;
    margin-right: auto;
}



#thanks {
    background-color: #a7cecb;
    width: 50%;
    padding: 30px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}



@media (max-width: 426px) {
    #memberCards {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .benefits {
        margin-left: auto;
        margin-right: auto;
    }

}


#menu-buttons {
    background-color: #55ACEE;
    width: 300px;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
}
#grid, #list {
    color: #eee;
    background-color: #3B5998;
    border-radius: 1cap;
    font-size: 20px;
    padding: 20px;
    margin-left: 28px;
    margin-top: 12px;
}
.members {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 5px;
	align-items: center;
}
.members section {
    background-color: #8ba6a9;
    margin: 5px;
    text-align: center;
}
.members img {
    width: 100px;
    margin-top: 10px;
}
.members a {
    display: block;
    color: white;
    background-color: #75704e;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: .6cap;
}
.members a:hover {
    color:#75704e;
    background-color: white;
}
.members a:active {
    color: #55ACEE;
    background-color: #75704e;
}

.list {
	display: flex;
	flex-direction: column;
}
.list section {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
    max-width: 500px;
	margin: 0;
	padding: 0.25rem;
}
.list section > * {
	margin: 0 1rem;
}
.list section img {
	display: none;
}
.list section:nth-child(even) {
	background-color: #bed;
}



.sidebar {
    display: flex;
    justify-content: space-evenly;
}
.card {
    display: block;
    margin-top: 5%;
    padding-top: 10%;
    padding: 1px;
    margin-bottom: 20%;
    border: 1px solid black;
    background-color: #8ba6a9;
    width: 275px;
    height: 300px;
    text-align: center;
}
.card img {
    margin-bottom: 15px;
}
.card p {
    margin-bottom: 20px;
}
.right-sidetab {
    border: 2px solid grey;
    width: 300px;
    display: block;
    margin-top: 1%;
}
.link-buttons {
    color: white;
    background-color: #75704e;
    border-radius: 1cap;
    padding: 10px;
    /* fix the spacing */
}



#time {
    border: 2px solid;
    color: white;
    background-color: #3B5998;
    padding-top: 20px;
    text-align: center;
    width: 800px;
    height: 45px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}



footer {
    background-color: #f4ebbe;
}
.logo_brand {
    margin: 4%;
}
.logo_brand img {
    display: block;
    float: left;
    width: 130px;
    margin-top: 15px;
    margin-left: 3px;
    border-radius: 10px;
}
.logo_text {
    padding-top: .01%;
    float: left;
    display: block;
    line-height: 0.8;
    padding-left: 5px;
}
.logo_text h4 {
    line-height: 0.4;
}
.logo_info {
    display: block;
    position: relative;
    left: 25%;
    border: 1px solid #a7cecb00;
    text-align: center;
}
.web_info {
    text-align: center;
    padding-bottom: 1%;
}