#menu {
    display:block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration:none;
    padding: .5rem .75rem;
    background-color: #eee;
    border: 2px solid black;
    border-radius: 6px;
}
#menu::before {
    content: "≡";
}
.banner {
    display:flex;
    align-items:center;
    background-color:#f4ebbe;
}
.navigation {
    list-style: none;
}
.navigation li {
    display: none;
}
.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
    color: #75704e;
    font-weight: 700;
	transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}
.navigation a:hover, .navigation a:active{
	color: white;
	background-color: black;
}
.open li {
	display: block;
}

#menu.open::before {
	content: "X";
}
header {
    display:flex;
    align-items: center;
}
.logo {
    width: 80px;
    height: auto;
    padding: 10px;
    border-radius: 20px;
}
ul {
    padding:0px;
}
nav {
    color: #75704e;
}
nav a {
    color: black;
}
nav a:visited {
    color: black;
}
a:active {
    color: white;
    background-color: #75704e;
}
a:hover {
    color: #f4ebbe;
    background-color: #8ba6a9;
}
a:visited {
    color: white;
}
header .fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    border: 2px solid black;
  }
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
button {
    cursor: pointer;
}
#dark-mode-button {
    position: absolute;
    top: 3px;
    right: 15px;
    font-size: 25px;
    border: 2px solid black;
    border-radius: 50%;
}
.dark-mode {
    background-color: black;
    color: white;
}
.gray-dark-mode {
    background-color: gray;
    color: white;
}
.dark-mode-cards{
    color: black;
}



.hero_card {
    background-color: #a7cecb;
    display: block;
    position: sticky;
    justify-content: center;
    align-items: center;
}
.hero_card img {
    height: 50%;
    width: 50%;
    display: block;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.chamber_button {
    top: 10%;
    left: 35%;
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 10px 25px;
    border-radius: 8px;
    text-align: center;
    background-color: #75704e;
    color: #f4ebbe;
}
.chamber_button:hover {
    background-color: #75704e;
}
.chamber {
    margin:8px;
}



h1 {
    position: relative;
    padding-right: 10%;
}
h2{
    text-decoration: underline;
    text-underline-position: under;
}
h3 {
    text-decoration: underline;
    text-underline-position: under;
}



.event, .weather, .spot_card {
    margin: 5%;
    padding-top: 1%;
    padding-left: 1%;
    border: 2px solid grey;
}
.cards {
    display: flex;
}



.event {
    background-color: #8ba6a9;
    width: 60%;
}
.event a {
    background-color: #75704e;
    padding: 1px;
    border-radius: 3px;
}



.weather {
    background-color: #8ba6a9;
    width: 30%;
}
.w_icon {
    font-size: 250%;
    position: relative;
    left: 20%;
}
.w_stats, .w_content {
    box-sizing: border-box;
    display: flex;
    padding-left: 20%;
}
.line {
    color: #3b589800;
}



.spotlights_row {
    display: flex;
    justify-content: space-between;
}
.spot_card {
    background-color: #8ba6a9;
    padding-bottom: 3%;
    padding-right: 1%;
    width: 100%;
}
.quote {
    text-align: right;
}
.card_text {
    text-align: center;
}
.card_text a {
    background-color: #75704e;
    padding: 5px;
    border-radius: 3px;
}



footer {
    background-color: #f4ebbe;
}
.logo_brand {
    margin: 4%;
}
.logo_brand img {
    display: block;
    float: left;
    width: 130px;
    margin-top: 15px;
    margin-left: 3px;
    border-radius: 10px;
}
.logo_text {
    padding-top: .01%;
    float:left;
    display: block;
    line-height: 0.8;
    padding-left: 5px;
}
.logo_text h4 {
    line-height: 0.4;
}
.logo_info {
    display: block;
    position: relative;
    left: 25%;
    border: 1px solid #a7cecb00;
    text-align: center;
}
.web_info {
    text-align: center;
    padding-bottom: 1%;
}