@media (max-width: 760px){
    header .fa-facebook {
        font-size: 15px;
        width: 15px;
    }
    header .fa-twitter {
        font-size: 15px;
        width: 15px;
    }
    #menu {
        margin: 10px;
    }
    .banner {
        display:block;
    }
    .navigation {
        background-color: #fff;
    }
    


    .sidebar {
        display: block;
        margin-left: 30%;
        margin-right: 30%;
    }
    #time {
        width: auto;
    }



    .logo_info {
        left: 0%;
    }
}