@media (min-width: 760px) {
    .navigation {
        display: flex;
    }
    .navigation li {
        display: block;
    }
    #menu {
        display:none;
    }
    

    .logo_info {
        left: 10%;
    }
}