@media (min-width: 760px) {
    .navigation {
        display: flex;
    }
    .navigation li {
        position: relative;
        display: block;
        left: 90px;
    }
    #menu {
        display:none;
    }
    

    .logo_info {
        left: 10%;
    }
}