@media (max-width: 760px){
    header .fa-facebook {
        font-size: 15px;
        width: 15px;
    }
    header .fa-twitter {
        font-size: 15px;
        width: 15px;
    }
    #menu {
        margin: 10px;
    }
    .banner {
        display:block;
    }
    .navigation {
        background-color: #fff;
    }


    
    .hero_card img {
        width: 300px;
    }
    .chamber_button {
        top: 40%;
        left: 50%;
    }



    #members {
        grid-template-columns: auto;
        margin-left: 20%;
        margin-right: 20%;
    }



    .cards {
        display: block;
    }
    .event {
        width: auto;
    }
    .weather {
        width: auto;
    }
    .spotlights_row {
        display: block;
        margin-bottom: 100px;
    }
    .spot_card {
        width: auto;
    }



    .sidebar {
        display: block;
        margin-left: 30%;
        margin-right: 30%;
    }
    #time {
        width: auto;
    }



    .logo_info {
        left: 0%;
    }
}