h1 {
    background-color: antiquewhite;
    padding: 10px;
}
main {
    display: grid;
    align-items: center;
    justify-content: center;
}
footer {
    background-color: beige;
    text-align: center;
}