:root {
    color: black;
}
fieldset {
    width: 300px;
    background-color:azure;

    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
fieldset {
    color: black;
}
#username {
    margin-top: 20px;
}
label {
    display: block;
}
input {
    display: block;
}

#rangevalues {
	display: flex;
	margin: 0 0 0 0px;
	width: 200px;
}

option {
    margin-left: .5px;
}

#submitBtn {
    background-color: beige;
    border-radius: 4px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
#submetBtn:root {
    color: black;
}