@media (max-width:769px) {
    nav a {
        display: none;
    }
    .navigation.open {
        flex-direction: column;
    }
    main {
        display: grid;
        grid-template-columns: auto;
        width: auto;
    }
    .map {
        max-width: 320px;  
    }
}